@import '../../../../styles/core';
@import '../../../../styles/colors';

.navbar {
  .navbar-brand {
    &:hover {
      cursor: pointer;
    }
    img {
      max-width: 150px;
      @include ldesktop {
        max-width: 200px;
      }
    }
  }
  .nav-item {
    &:hover {
      cursor: pointer;
    }
  }
  .nav-link {
    color: $white;
    font-weight: bolder;
     @include laptop {
      font-size: $small-medium-font;
    }
    @include ldesktop {
      font-size: $big-font;
    }
  }
}