@import '../../../../../styles/core';
@import '../../../../../styles/colors';
@import '../../../../../styles/breakpoints';
@import '../../../../../styles/utils';
.quotation-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5px;
  color:#fff;
  text-align: center;
  background: $dark-blue;
  padding: 1rem;
  @include mobile {
    grid-template-columns: 1fr;
  }
}


.search-deactive {
  @include mobile {
    display: none;
  }
}

.list-active {
  display: block;
}

.product-small {
  display: grid;
  grid-template-columns: 2fr .5fr;
  .product-info {
    display: flex;
    flex-direction: column;
    @include mobile {
      font-size: 13px;
    } 
    @include laptop {
      font-size: 13px;
    }
    p {
      margin: 0;
      span {
        font-weight: bolder;
      }
    }
  }
  .actions {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    .remove {
      text-align: center;
      padding:10px 0;
      background: $red;
      color:$white;
      @include cursorPointer();
    }
    .amount {
      margin: 1rem 0;
      p {
        font-size: 12px;
        margin: 0;
      }
      input {
        width: -webkit-fill-available;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #d8d8d8;
      }
    }
  }
}
