
<div class="wrapper">
	<div class="container m-auto">
		<div class="row">
			<div class="col mr-auto ml-auto mt-4 form">
				<i class="fas fa-door-open backdoor"></i>
				<h4>Trabajadores</h4>
				<div class="forms">	
					<div class="form-group mt-md-4 negative">
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" [(ngModel)]="user.email" (keyup)="doKeyBoardLogin($event)">
				  </div>
				  <div class="form-group negative">
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password" [(ngModel)]="user.password" (keyup)="doKeyBoardLogin($event)">
				  </div>
				  <button type="submit" class="btn btn-material btn-block bg-light" (click)="doAdminLogin()">INGRESAR</button>
				  <div class="other mt-md-2">
			  		<p class="forgot" [routerLink]="['/home']">Regresar al home</p>
			  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-toast [toastType]="'auth'" [color]="'white'"></app-toast>
<app-toast [toastType]="'error'" [color]="'white'" [error]="auth.authState.error"></app-toast>