<div class="container-fluid user-header p-4">
	<div class="container">
		<div class="col-md-4">
			<span>
				Con esta aplicación puedes buscar cualquier cotización generada.
			</span>
		</div>
	</div>
</div>
<div class="container pb-4">
	<div class="row">
		<div class="col-md-4">
			<div class="searchbar">
				<input type="text" placeholder="ID o Nro Referencia" #query (keyup)="handleChange($event, query.value)"><i
					class="fas fa-search" (click)="searchQuotation(query.value)"></i>
				<button type="submit" style="display:none">hidden submit</button>
			</div>
		</div>
		<div class="col-md-8 d-flex justify-content-end align-items-center">
			<div class="button-group">
				<button class="btn btn-material" *ngFor="let button of buttons" (click)="getQuotationsByStatus(button.status)"
					[ngStyle]="{'background': searchType == button.searchValue ? button.activeColor : 'transparent'}">{{ button.title }}</button>
			</div>
		</div>
	</div>
	<div class="col-sm-12 quotation-list">
		<table class="table" *ngIf="!isLoading">
			<caption>Cotizaciones</caption>
			<thead>
				<tr>
					<th scope="col">Acciones</th>
					<th scope="col">#</th>
					<th scope="col">ID</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Total</th>
					<th scope="col">Estado</th>
					<th scope="col">Fecha de Creación</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let quotation of quotations">
					<td scope="row" class="white-nowrap d-flex align-items-center">
						<a [routerLink]="['../quotation-detail', quotation.id_cotizr_quotation]">
							<i class="far fa-eye"></i>
						</a>
						<i class="fas fa-download ml-2 cursor-pointer" (click)="quotationService.generatePDF(quotation)"></i>
						<!-- <i class="far fa-check-square" data-toggle="modal" data-target="#editSearchQuotations"
							(click)="displayQuotation(quotation)"></i> -->
						<!-- <i class="fas fa-download" (click)="download(quotation)"></i> -->
					</td>
					<th scope="row">{{ quotations.indexOf(quotation) + 1  }}</th>
					<td>{{ quotation.id_cotizr_quotation }}</td>
					<td>{{ quotation.items.length }}</td>
					<!-- <td>
						{{ quotation.products.metadata ? quotation.products.metadata.userInfo.email : 'Email No Proporcionado' }}
					</td> -->
					<td>{{ total(quotation.items) | price }} Bs.S</td>
					<td>{{ quotationStatus(quotation.status) }}
					</td>
					<td class="white-nowrap">{{ quotation.date_created }}
					<td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="d-flex justify-content-center align-items-center" *ngIf="isFullyLoaded">
		<button class="btn btn-primary mr-4" [disabled]="paginationSets.indexOf(currentPaginationDisplay) === 0"
			(click)="previousPaginationDisplay(currentPaginationDisplay)">Mas Recientes</button>
		<div class="pagination-group">
			<span *ngFor="let page of currentPaginationDisplay" class="pagination"
				[ngClass]="{'selected': page.offset === lastOffset}"
				(click)="requestOffset(page.offset)">{{ page.number }}</span>
		</div>
		<button class="btn btn-primary ml-4"
			[disabled]="paginationSets.indexOf(currentPaginationDisplay) === paginationSets.length - 1"
			(click)="nextPaginationDisplay(currentPaginationDisplay)">Mas Antiguas</button>
	</div>
</div>