@import "../../../styles/colors";
@import "../../../styles/core";
@import "../../../styles/material";

.user-header {
  background: $dark-blue;
  color: $white;
}

.user-info {
  display: flex;
  align-items: center;
  i {
    font-size: 30px;
  }
  .details {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1rem;
  }
}
.pagination-group {
  display: flex;
  min-width: 360px;
  justify-content: space-around;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  max-height: 18px;
  &:hover {
    cursor: pointer;
  }
  &.selected {
    background-color: #647eff;
    color: #fff;
    border-radius: 100%;
  }
}
