@import '../../../styles/colors';
@import '../../../styles/core';
@import '../../../styles/material';

.user-header {
  background: $dark-blue;
  color:$white;
}

.user-info {
  display: flex;
  align-items: center;
  i {
    font-size: 30px;
  }
  .details {
    display: flex;
    flex-direction: column;
    margin:0 0 0 1rem;
  }
}
