<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mt-4">
				<span class="mb-2">Informacion de la Cotizacion</span>
				<app-quotation-data-form #quotationForm [disableAll]="true"></app-quotation-data-form>
			</div>
			<div class="col-md-4 mt-4">
				<app-search></app-search>
			</div>
			<div class="col-md-4 mt-4">
				<span class="mb-2">Productos </span>
				<div class="item-list">
					<div class="item p-3" *ngFor="let item of quotationService.quotationItems">
						<div class="row">
							<div class="col-md-9">
								<p class="name">{{ item.name }} </p>
								<p class="digit">Cantidad: {{ item.amount }} </p>
								<p class="digit">Precio: {{ item.price | price }} Bs. S</p>
								<p class="digit">Total: {{ item.amount * item.price  | price }} Bs. S</p>
							</div>
							<div class="col-md-3">
								<input type="number" value="{{ item.amount }}" #input (keyup)="item.amount = input.value"
									(change)="item.amount = input.value" class="custom-input">
								<button class="btn btn-danger btn-block mt-2" (click)="quotationService.removeFromQuotation(item)"><i
										class="fas fa-trash"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="digits mt-4">
					<p>Subtotal: {{ subtotal() | price }} Bs. S</p>
					<p>IVA: {{ iva() | price }} Bs. S</p>
					<p>Total: {{ total() | price }} Bs. S</p>
				</div>
				<div class="digits mt-4">
					<button class="btn btn-success">Guardar Cotizacionw</button>
				</div>
			</div>
		</div>
	</div>
	<!-- <router-outlet></router-outlet> -->
</div>