<div class="container">
  <div class="section-header">
    <h4 class="header-title" *ngIf="type === 'generate'">NUEVA COTIZACIÓN</h4>
    <h4 class="header-title" *ngIf="type === 'quotation'">COTIZACIÓN # {{ refQuotation.id_cotizr_quotation }}</h4>
  </div>
</div>
<div class="quotation-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex flex-column">
          <div class="accounting-group">
            <label>Subtotal:</label>
            <span> {{ subtotal() | price }} Bs</span>
          </div>
          <div class="accounting-group">
            <label>IVA:</label>
            <span> {{ iva() | price }} Bs</span>
          </div>
          <div class="accounting-group">
            <label>Total:</label>
            <span> {{ total() | price }} Bs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4">
      <app-quotation-data-form #quotationForm [disableAll]="type === 'quotation'"></app-quotation-data-form>
    </div>
  </div>
</div>


<div class="fab-group bottom right">
  <div class="fab blue" (click)="switchSearchScreen(true)">
    <i class="fas fa-search"></i>
  </div>

  <div class="fab blue" (click)="isDrawerActive = true">
    <div class="bubble">
      <span>{{  quotationService.quotationItems.length }} </span>
    </div>
    <i class="fas fa-shopping-cart"></i>
  </div>

  <div class="fab blue" (click)="isDrawerActive = true">
    <i class="fas fa-download"></i>
  </div>

  <div class="fab green" (click)="type === 'generate' ? createQuotation() : updateQuotation()"
    [ngClass]="{'disabled': !isOnline()}">
    <i class="fas fa-check" *ngIf="type === 'generate'"></i>
    <i class="far fa-save" *ngIf="type === 'quotation'"></i>
  </div>
</div>

<div class="drawer" *ngIf="isDrawerActive">
  <div class="drawer-header">
    <span>Productos en Cotización</span>
    <i class="fas fa-times" (click)="isDrawerActive = false"></i>
  </div>
  <div class="drawer-list">
    <div class="list-item" *ngFor="let item of quotationService.quotationItems">
      <div class="row">
        <div class="col-md-4">
          <div class="img-frame">
            <div [style.background-image]="getProductImg(item.id_product)" class="img"></div>
          </div>
        </div>
        <div class="col-md-8">
          <p class="name">{{ item.name }}</p>
          <p class="price no-margin">{{ item.price | price }} Bs</p>
          <div class="price small mb-2">{{ item.price * item.ammount | price }} Bs</div>
          <div class="d-flex align-items-center">
            <div class="amount">
              <input type="number" class="amount-modifier" [(ngModel)]="item.ammount">
              <!-- <span>{{ item.ammount }} </span> -->
            </div>
         
            <i class="fas fa-trash text-danger ml-auto mr-auto cursor-pointer" (click)="quotationService.removeFromQuotation(item)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search-screen" *ngIf="isSearchScreenActive">
  <div class="container">
    <div class="screen-header">
      <i class="fas fa-times" (click)="switchSearchScreen(false)"></i>
      <span>Buscar Producto</span>
    </div>
    <div class="screen-body">
      <div class="row">
        <div class="col-md-4">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <input type="number" value="{{ item.ammount }}" #input (keyup)="item.ammount = input.value"
                (change)="item.ammount = input.value" class="custom-input">
              <button class="btn btn-danger btn-block mt-2" (click)="quotationService.removeFromQuotation(item)"><i
                  class="fas fa-trash"></i></button> -->