@import '../../../styles/colors.scss';
@import '../../../styles/core.scss';

:host {
  .wrapper {
    width: 100%;
    height: 100vh;
    background: $blue-gradient-bottom;
    font-size: $medium-font;
    @include laptop {
      font-size: $medium-font;
    }
    @include ldesktop {
      font-size: $big-font;
    }
  }
}

.footer {
  position: fixed;
  width: 100vw;
  bottom:1rem;
  left:1rem;
  right:1rem;
  display: flex;
  justify-content: space-between;
  color:$white;
  p {
    margin: 0;
    font-size: 14px;
  }
}