$red: #e21b3b;
$blue: #1b9ee2;
$darker-blue: #1b9ee2;
$dark-blue: #188ecb;
$dark-gray: #1b1b1b;
$light-gray: #d7d5d5;
$white: #fff;
$white-transparent: rgba(255,255,255,.6);
$gray: #efefef;
$green: #009688;
$blue-gradient-bottom: linear-gradient(to bottom, #1b9ee2, #105e87);